<div class="page-content">
  <h1 class="page-content__title">New Note</h1>

  <%= render "form", note: @note %>

  <div class="form__actions">
    <input type="submit" form="note-form" value="Save" class="form__submit">
  </div>
</div>
