<% content_for :title, @note.title %>

<div class="post">
  <div class="post__header">
    <h1 class="post__title"><%= @note.title %></h1>
    <%= link_to "Edit Note", edit_note_path(@note), class: "page-content__action" %>
  </div>

  <p class="post__meta"><%= @note.created_at.strftime("%B %d, %Y") %></p>

  <div class="post__body"><%= @note.body %></div>
</div>
