<div class="page-content">
  <h1 class="page-content__title">Edit Idea</h1>

  <%= render "form", idea: @idea %>

  <div class="form__actions">
    <input type="submit" form="idea-form" value="Save" class="form__submit">
    <%= button_to "Delete", idea_path(@idea), method: :delete, class: "form__delete", data: { turbo_confirm: "Delete this idea?" } %>
  </div>
</div>
