<div class="page-content">
  <h1 class="page-content__title">New Idea</h1>

  <%= render "form", idea: @idea %>

  <div class="form__actions">
    <input type="submit" form="idea-form" value="Save" class="form__submit">
  </div>
</div>
