<% content_for :title, "About" %>
<div class="page-content">

  <h1 class="page-content__title">About</h1>

  <div class="about-intro">
    <%= image_tag "profile-picture.jpg", class: "about-intro__photo", alt: "Skye Freeman" %>
    <p>Skye Freeman is a Product Engineer/Computer Programmer/Digital Craftsperson living in New York City. Born and raised in Brooklyn, he&rsquo;s the husband of Julia, Cat Dad of Maddux, Dog Dad of Pluto.</p>
  </div>

  <p>Skye&rsquo;s is in his second decade of tech work. He writes a lot of software, (some of which you may have used!). He&rsquo;s currently working on product at Aura Frames, and previously at Affirm, Venmo, Bloglovin&rsquo; and more. Sometimes he writes, mostly about what he learns while constructing software.</p>

  <p>He loves to run, swim and cycle. He thinks often about competing in Triathalons (maybe he&rsquo;ll eventually do one). He plays the guitar, reads sci-fi, plays independantly made video games, and learns about music production in his spare time.</p>
  
</div>
