<div class="page-content">
  <h1 class="page-content__title">Latest Posts</h1>
  <ul class="post-list">
    <% @posts.each do |post| %>
      <li class="post-list__item">
        <span class="post-list__date"><%= post.published_at.strftime("%b %d, %Y") %></span>
        <%= link_to post.title, post_path(post), class: "post-list__title" %>
      </li>
    <% end %>
  </ul>
</div>
