<% content_for :title, "Projects" %>
<div class="page-content">
  <h1 class="page-content__title">Projects</h1>

  <ul class="project-list">
    <li class="project-item">
      <a target="_blank" href="https://wip.skyefreeman.com">
        <h3>MicroFeed</h3>
        <p>A self-hosted micro blog for keeping track of thoughts and links. Posts are automatically mirrored on Bluesky and Mastodon. Built with Phoenix Liveview and Elixir.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://swiftstarterkits.com">
        <h3>Swift Starter Kits</h3>
        <p>An iOS boilerplate that includes a full toolkit for building and shipping a subscription app to the app store. Built from the ground up in SwiftUI.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://github.com/skyefreeman/fretboard.el">
        <h3>fretboard.el</h3>
        <p>An Emacs Lisp package for visualizing the notes, scales and chords on a guitar fretboard. Available on Melpa.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://github.com/skyefreeman/broadcast.ex">
        <h3>broadcast.ex</h3>
        <p>An Elixir package that provides a unified API for posting to external social media websites. Available on Hex.</p>
      </a>
    </li>
  </ul>

</div>
