<% content_for :title, "Projects" %>
<div class="page-content">
  <h1 class="page-content__title">Projects</h1>

  <ul class="project-list">
    <li class="project-item">
      <a target="_blank" href="https://wip.skyefreeman.com">
        <h3>MicroFeed</h3>
        <p>A self-hosted micro blog for keeping track of thoughts and links. Posts are automatically mirrored on Bluesky and Mastodon. Built with Phoenix Liveview and Elixir.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://swiftstarterkits.com">
        <h3>Swift Starter Kits</h3>
        <p>An iOS boilerplate that includes a full toolkit for building and shipping a subscription app to the app store. Built from the ground up in SwiftUI.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://github.com/skyefreeman/fretboard.el">
        <h3>fretboard.el</h3>
        <p>An Emacs Lisp package for visualizing the notes, scales and chords on a guitar fretboard. Available on Melpa.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://github.com/skyefreeman/broadcast.ex">
        <h3>broadcast.ex</h3>
        <p>An Elixir package that provides a unified API for posting to external social media websites. Available on Hex.</p>
      </a>
    </li>

    <li class="project-item">
      <a target="_blank" href="https://github.com/skyefreeman/skyefreeman.com">
        <h3>skyefreeman.com</h3>
        <p>(The website you&rsquo;re on!) My personal monolith. A Ruby on Rails app with a built-in publishing and syndication system.</p>
      </a>
    </li>
    
    <li class="project-item">
      <a target="_blank" href="https://plutosloft.com">
        <h3>Pluto&rsquo;s Loft</h3>
        <p>I help organize an independant space for theatrical productions, readings, comedy, film screenings, and salon discussions.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/OnTap">
        <div class="project-item__header"><h3>OnTap</h3><span class="project-item__badge">archived</span></div>
        <p>Lovely, closure-based touch input handling for iOS.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/EmojiConstants">
        <div class="project-item__header"><h3>EmojiConstants</h3><span class="project-item__badge">archived</span></div>
        <p>An exhaustive list of Emoji&rsquo;s represented as Swift string constants.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/EmojiBuilder">
        <div class="project-item__header"><h3>EmojiBuilder</h3><span class="project-item__badge">archived</span></div>
        <p>An iOS utility for composing and working with Emoji.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/Cognition">
        <div class="project-item__header"><h3>Cognition</h3><span class="project-item__badge">archived</span></div>
        <p>A lovely Hacker News reader for iOS.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/HackerNewsKit">
        <div class="project-item__header"><h3>HackerNewsKit</h3><span class="project-item__badge">archived</span></div>
        <p>An iOS wrapper for the Hacker News API.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/SFWaterNode">
        <div class="project-item__header"><h3>SFWaterNode</h3><span class="project-item__badge">archived</span></div>
        <p>A 2D water surface implementation for SpriteKit.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/SFAdditions">
        <div class="project-item__header"><h3>SFAdditions</h3><span class="project-item__badge">archived</span></div>
        <p>A collection of Objective-C categories and utilities for iOS.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/SFSlideOutMenu">
        <div class="project-item__header"><h3>SFSlideOutMenu</h3><span class="project-item__badge">archived</span></div>
        <p>A simple slide out menu component for iOS.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/SFDrawNode">
        <div class="project-item__header"><h3>SFDrawNode</h3><span class="project-item__badge">archived</span></div>
        <p>A drawing canvas for SpriteKit.</p>
      </a>
    </li>

    <li class="project-item project-item--archived">
      <a target="_blank" href="https://github.com/skyefreeman/SFButtonNode">
        <div class="project-item__header"><h3>SFButtonNode</h3><span class="project-item__badge">archived</span></div>
        <p>A fancy button implementation for SpriteKit.</p>
      </a>
    </li>
  </ul>

</div>
