<% content_for :title, "Editing link" %>
<div class="page-content">
  <h1 class="page-content__title">Editing link</h1>

  <%= render "form", link: @link %>
  <div class="form__group">
    <%= button_to "Delete", @link, method: :delete, class: "link__delete-button" %>
  </div>
</div> 
