<% content_for :title, "Links" %>
<div class="page-content">

  <div class="page-content__header">
    <h1 class="page-content__title">Links</h1>

    <% if authenticated? %>
    <%= link_to "New", new_link_path, class: "page-content__action" %>
    <% end %>
  </div> 

  
  <% if notice.present? %><p class="link__notice"><%= notice %></p><% end %>

  <ul class="post-list" id="links">
    <% @links.each do |link| %>
      <li class="post-list__item">
        <%= render link %>
        <% if authenticated? %>
          <%= link_to "Edit", edit_link_path(link), class: "post-list__date" %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div> 

