<% content_for :title, "Links" %>
<p class="link__notice"><%= notice %></p>
<div class="page-content">

  <div class="page-content__header">
    <h1 class="page-content__title">Links</h1>

    <% if authenticated? %>
    <%= link_to "New", new_link_path, class: "page-content__action" %>
    <% end %>
  </div> 

  
  <div id="links">
    <% @links.each do |link| %>
    <%= render link %>
    
    <p>
      <% if authenticated? %>
      <%= link_to "Edit", edit_link_path(link) %>
      <% end %>
    </p>
    
    <% end %>
  </div>

</div> 

