<% content_for :title, "New link" %>
<div class="page-content">
  <h1 class="page-content__title">New Link</h1>

  <%= render "form", link: @link %>

  <div class="form__actions">
    <input type="submit" form="link-form" value="Save" class="form__submit">
  </div>
</div>

