<div class="hero">
  <%= image_tag "profile-picture.jpg", class: "hero__avatar", alt: "Skye Freeman" %>
  <h1 class="hero__name">Skye Freeman</h1>
  <p class="hero__tagline">Programmer. Hobbyist musician. Pancakes 🥞.</p>
  <p class="hero__bio">Currently Product Engineering at <a href="https://auraframes.com">Aura Frames</a>. Previously at <a href="https://affirm.com">Affirm</a>, <a href="https://venmo.com">Venmo</a>.</p>
</div>
