<div class="page-content">
  <div class="page-content__header">
    <h1 class="page-content__title">Blog</h1>
    <% if authenticated? %>
      <%= link_to "New Post", new_post_path, class: "page-content__action" %>
    <% end %>
  </div>
  <ul class="post-list">
    <% @posts.each do |post| %>
      <li class="post-list__item">
        <span class="post-list__date"><%= post.created_at.strftime("%b %d, %Y") %></span>
        <%= link_to post.title, post_path(post), class: "post-list__title" %>
      </li>
    <% end %>
  </ul>
</div>
