<h1>Posts</h1>

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post) %>
    <span><%= post.author %></span>
    <span><%= post.created_at.strftime("%B %d, %Y") %></span>
    <div><%= post.body %></div>
  </div>
<% end %>
