<div class="page-content">
  <h1 class="page-content__title">New Post</h1>

  <%= render "form", post: @post, show_publish_button: true %>

  <div class="form__actions">
    <input type="submit" form="post-form" value="Save" class="form__submit">
    <input type="submit" form="post-form" name="publish" value="Publish" class="form__submit">
  </div>
</div>
